@import "tailwindcss";
@plugin "@tailwindcss/typography";

@variant dark (&:where(.dark, .dark *));

/* Style defined for the strong texto to inherit the normal text color */
@layer base {
  .prose strong {
    color: inherit !important;
  }
}

/* Defining variables CSS for both light and dark themes */
@layer base {
  :root {
    --color-app-bg: #f6f7f8;
    --color-primary: #136dec;
    --color-hover-primary-bg: #e5e7eb;
  }

  .dark {
    --color-app-bg: #101822;
    --color-hover-primary-bg: #3f3f46;
  }
}

/* Register themes variables on the Tailwind v4 engine */
@theme {
  --color-main-bg: var(--color-app-bg);
  --color-primary: var(--color-primary);
  --color-hover-primary-bg: var(--color-hover-primary-bg);
}

@layer utilities {

  /* Chess pattern */
  .bg-checkerboard {
    /* Base colors for the pattern */
    --check-1: rgba(0, 0, 0, 0.2);
    --check-2: transparent;

    background-image: conic-gradient(var(--check-1) 90deg,
        var(--check-2) 90deg 180deg,
        var(--check-1) 180deg 270deg,
        var(--check-2) 270deg);
    /* Size of the squares */
    background-size: 11px 11px;
    
    background-position: center;
    /* Base background for light theme */
    background-color: white;
  }

  /* Adjustment for dark theme */
  .dark .bg-checkerboard {
    background-color: rgba(255, 255, 255, 0.9);
    --check-1: rgba(0, 0, 0, 0.2);
  }
}

/* To ensure the background covers all the screen */
#root {
  @apply min-h-screen transition-colors duration-300;
}

/* ====================
Code style
==================== */

/* Base style for code */
.tiptap code {
  @apply bg-gray-200 dark:bg-zinc-800 px-1.5 py-0.5 rounded font-mono;
  color: #ef4444; /* Default color */
  font-size: 0.95em; /* Smaller size for code */
  font-weight: inherit; 
}

/* Inherit essencial rule for code when span > code */
/* Force the code to use the color of it's parent */
.tiptap [style*="color"] code {
  color: inherit !important;
}

/* Removing backticks (` `) */
.prose code::before,
.prose code::after {
  content: "" !important;
}

/* ====================
Bulleted list style
==================== */

/* Changes the color of the bulleted points of the list (light theme) */
.tiptap li::marker {
  color: black;
  font-weight: bold;
}

/* Changes the color of the bulleted points of the list (dark theme) */
.dark .tiptap li::marker{
  @apply text-white;
}

.tiptap ul li {
  position: relative;
  padding-left: 1rem;
}
/* CUSTOM BULLETED POINTS PATTERNS */
/* Mix style (combines disc with circle and square) */
.tiptap ul[data-list-style="default"] { list-style-type: disc !important; }
.tiptap ul[data-list-style="default"] ul { list-style-type: circle !important; }
.tiptap ul[data-list-style="default"] ul ul { list-style-type: square !important; }

/* Static styles (all leves the same bulleted point) */
.tiptap ul[data-list-style="disc"], 
.tiptap ul[data-list-style="disc"] ul { list-style-type: disc !important; }

.tiptap ul[data-list-style="circle"], 
.tiptap ul[data-list-style="circle"] ul { list-style-type: circle !important; }

.tiptap ul[data-list-style="square"], 
.tiptap ul[data-list-style="square"] ul { list-style-type: square !important; }

/* ====================
Numbered list style
==================== */

/* Main container */
.tiptap ol {
  list-style-type: none !important;
  counter-reset: list-counter;
  /* my-4 adds space on top and bottom of the whole list */
  /* space-y-2 adds space between same level li */
  @apply ml-0 my-4 space-y-2; 
}

/* List item (li) */
.tiptap ol li {
  counter-increment: list-counter;
  display: flex;
  flex-wrap: wrap; /* Allows sublevels to skip to next line */
  align-items: baseline;
  gap: 0.5rem;
}

/* Number/letter */
.tiptap ol li::before {
  @apply font-medium text-black min-w-[1.5rem] text-right;
  line-height: inherit;
  flex-shrink: 0;
}

.dark .tiptap ol li::before {
  color: white;
}

/* Text container */
.tiptap ol li > div, 
.tiptap ol li > p {
  flex: 1; 
  min-width: 0;
  margin: 0 !important;
}

/* Sublevels of the list */
.tiptap li > ol {
  flex-basis: 100%;
  margin-top: 0 !important; 
  margin-left: 1.2rem !important; 
  margin-bottom: 0 !important;
}

/* --- CUSTOM NUMBERING FORMAT --- */

/* Mix style (combines numbers with letters and with roman number) */
.tiptap ol[data-list-style="mix"] li::before { 
  content: counter(list-counter) ". "; 
}
.tiptap ol[data-list-style="mix"] ol { 
  counter-reset: alpha-counter; 
}
.tiptap ol[data-list-style="mix"] ol > li {
  counter-increment: alpha-counter;
}
.tiptap ol[data-list-style="mix"] ol > li::before { 
  content: counter(alpha-counter, lower-alpha) ". "; 
}
.tiptap ol[data-list-style="mix"] ol ol { 
  counter-reset: roman-counter; 
}
.tiptap ol[data-list-style="mix"] ol ol > li {
  counter-increment: roman-counter;
}
.tiptap ol[data-list-style="mix"] ol ol > li::before { 
  content: counter(roman-counter, lower-roman) ". "; 
}

/* Static style (all the list the same type) */
.tiptap ol[data-list-style="default"] { counter-reset: section; }
.tiptap ol[data-list-style="default"] li { counter-increment: section; }
.tiptap ol[data-list-style="default"] li::before { content: counters(section, ".") ". "; }

.tiptap ol[data-list-style="alpha"] li::before { content: counter(list-counter, lower-alpha) ". "; }
.tiptap ol[data-list-style="roman"] li::before { content: counter(list-counter, lower-roman) ". "; }

/* ====================
To-do list style
==================== */

/* List container */
.tiptap ul[data-type="taskList"] {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

/* Rows of the list */
.tiptap ul[data-type="taskList"] li {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
  margin-bottom: 0.4rem;
}

/* Checkbox */
.tiptap ul[data-type="taskList"] input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  @apply flex-shrink-0 cursor-pointer transition-all duration-200;
  
  width: 1.15rem;
  height: 1.15rem;
  margin-top: 0.4rem; /* Manual alignmen with text */
  
  /* Background and border on light theme */
  border: 2px solid #37352f; 
  border-radius: 3px;
  background-color: transparent;
  position: relative;
}

/* Dark theme */
.dark .tiptap ul[data-type="taskList"] input[type="checkbox"] {
  border-color: white;
}

/* Checked state */
.tiptap ul[data-type="taskList"] input[type="checkbox"]:checked {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

/* Checked symbol */
.tiptap ul[data-type="taskList"] input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  left: 3.5px;
  top: 0.5px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2.5px 2.5px 0;
  transform: rotate(45deg);
}

/* Task text */
.tiptap ul[data-type="taskList"] li > div {
  @apply flex-1 min-w-0;
}

.tiptap ul[data-type="taskList"] li p {
  margin: 0 !important;
  @apply transition-all duration-300;
}

/* Text style when checked (line-through and gray text color) */
.tiptap li[data-checked="true"] > div > p {
  @apply text-gray-400 dark:text-zinc-500;
  text-decoration: line-through;
  text-decoration-thickness: 1.5px;
}



/* ====================
Quote style
==================== */

/* Style for the quote block */
blockquote {
  font-style: normal !important; /* remove italic style from the default blockquote */
  quotes: none; /* Remove default quotation marks */
  border-left: 3px solid #b1b7c3;
  padding-left: 1rem;
  margin-left: 0;
  margin-right: 0;
  font-style: italic;
  color: #4b5563; 
}

.dark blockquote {
  border-left-color: #3f3f46; 
  color: #a1a1aa; 
}

blockquote p {
  margin: 0.5rem;
  line-height: 1.5;
}
blockquote p:first-child { margin-top: 0; }
blockquote p:last-child { margin-bottom: 0; }

/* ====================
Code block style
==================== */

/* Code block container */
pre {
  background: #f1f1f2 !important;
  border: 1px solid #e6e6e8;
  padding: 2em;
}

.dark pre {
  background: #1e1e1e !important; 
  border: 1px solid #27272a;
  padding: 2em;
}

/* Code block content */
pre code {
  color: #121213 !important;
  background: none !important;
  padding: 0 !important;
  font-family: 'Fira Code', 'JetBrains Mono', monospace;
}

.dark pre code {
  color: #e4e4e7 !important;
}

pre::-webkit-scrollbar {
  height: 8px;
}
pre::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 4px;
}

/* Highlighting colors Light theme */
.hljs-keyword, .hljs-selector-tag { color: #0000ff; font-weight: 500; }
.hljs-string { color: #a31515; }
.hljs-comment { color: #008000; font-style: italic; }
.hljs-number { color: #098658; }
.hljs-type, .hljs-class { color: #267f99; }
.hljs-title { color: #795e26; }
.hljs-params { color: #001080; }
.hljs-attr { color: #ff0000; }

/* Highlighting colors (Based on One Dark / VS Code) */
.dark .hljs-keyword, .dark .hljs-selector-tag { color: #569cd6; }
.dark .hljs-string { color: #ce9178; }
.dark .hljs-comment { color: #6a9955; font-style: italic; }
.dark .hljs-number { color: #b5cea8; }
.dark .hljs-type, .dark .hljs-class { color: #4ec9b0; }
.dark .hljs-title { color: #dcdcaa; }
.dark .hljs-params { color: #9cdcfe; }

/* Specific highlighting for HTML and CSS */
.hljs-tag, .hljs-name { color: #800000; }
.hljs-attr { color: #ff0000; }
.hljs-selector-class { color: #800000; }
.hljs-attribute { color: #ff0000; }
.hljs-built_in { color: #0000ff; }


.dark .hljs-tag, .dark .hljs-name { color: #569cd6; }
.dark .hljs-attr { color: #9cdcfe; }
.dark .hljs-attribute { color: #ce9178; }

/* ====================
Scroll bar style for code blocks
==================== */

/* Scroll container */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

/* Scroll background (track) */
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

/* Thumb (bar) */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d4d4d8; 
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a1a1aa;
}

/* Thumb (bar) in dark theme */
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3f3f46;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #52525b;
}

/* Support for Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #d4d4d8 transparent;
}

.dark .custom-scrollbar {
  scrollbar-color: #3f3f46 transparent;
}

/* ====================
Scroll bar style for editor
==================== */

/* Class for editor scrollbar */
.editor-scrollbar::-webkit-scrollbar {
  width: 8px; /* Un poco más ancho para el editor principal */
}

.editor-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

/* Light theme */
.editor-scrollbar::-webkit-scrollbar-thumb {
  background-color: #a4a4a8; 
  border-radius: 20px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.editor-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a1a1aa;
}

/* Dark theme */
.dark .editor-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3f3f46; 
}

.dark .editor-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #52525b;
}

/* Firefox */
.editor-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #a4a4a8 transparent;
}

.dark .editor-scrollbar {
  scrollbar-color: #3f3f46 transparent;
}

/* ====================
Toggle style
==================== */

/* Hide content if toggleBlock closed */
.is-closed [data-type="toggle-content"] {
  display: none !important;
}

/* Toggle title style */
[data-type="toggle-title"] {
  min-height: 1.5rem;
  font-weight: 500;
  margin-left: 0.3rem;
}

/* Content style when opened */
.is-open [data-type="toggle-content"] {
  margin-left: 0.5rem;
  border-left: 2px solid #e5e7eb;
  padding-left: 1rem;
  margin-top: 0.5rem;
}

.dark .is-open [data-type="toggle-content"] {
  border-left-color: #27272a;
}

/* ====================
Placeholder style
==================== */

/* Style for every empty block */
.ProseMirror .is-empty::before {
  content: attr(data-placeholder);
  float: left;
  color: #a1a1aa;
  pointer-events: none;
  height: 0;
  font-style: normal;
}

/* Specific toggle title placeholder */
[data-type="toggle-title"].is-empty::before {
  font-weight: 500;
  opacity: 0.7;
}

/* ====================
Emojis style
==================== */

/* Local emoji font for Windows/Linux */
@font-face {
  font-family: 'TwemojiLocal';
  src: url('./assets/fonts/Twemoji.Mozilla.ttf') format('truetype');
  font-display: swap;
}

/* Create emojis "Stack" */
:root {
  /* Priority order */
  --font-emoji: "Apple Color Emoji", "TwemojiLocal", "Segoe UI Emoji", "Noto Color Emoji", "Android Emoji", sans-serif;
}

/* Apply fonts to EmojiPicker */
.emoji-picker-content {
  font-family: var(--font-emoji) !important;
}