/* src/index.css */
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@variant dark (&:where(.dark, .dark *));

/* Solo dejamos el #root para asegurar que el fondo cubra todo */
#root {
  @apply min-h-screen bg-gray-100 dark:bg-zinc-950 transition-colors duration-300;
}


/* Se define este estilo para que el texto fuerte (strong) herede el color del texto normal, 
evitando que se cambie el color del texto al ponerlo bold */
@layer base {
  .prose strong {
    color: inherit !important;
  }
}

@layer base {
  :root {
    --color-app-bg: #f6f7f8;
  }

  .dark {
    --color-app-bg: #101822; 
  }
}

/* 2. Registramos esas variables en el motor de Tailwind v4 */
@theme {
  --color-main-bg: var(--color-app-bg);
  --color-main-text: var(--color-app-text);
  --color-accent: var(--color-brand);
}

@layer utilities {
  /* Patrón de tablero de ajedrez para transparencia */
  .bg-checkerboard {
    /* Colores base para el patrón */
    --check-1: rgba(0, 0, 0, 0.2); /* Gris claro transparente */
    --check-2: transparent;

    background-image: conic-gradient(
      var(--check-1) 90deg,
      var(--check-2) 90deg 180deg,
      var(--check-1) 180deg 270deg,
      var(--check-2) 270deg
    );
    background-size: 11px 11px; /* Tamaño de la cuadrícula */
    background-position: center;
    background-color: white; /* Fondo base para modo claro */
  }

  /* Ajuste opcional para modo oscuro si quieres que el fondo sea más oscuro */
  .dark .bg-checkerboard {
     background-color: rgba(255, 255, 255, 0.9); /* Fondo base sutil para oscuro */
     --check-1: rgba(0, 0, 0, 0.2); /* Cuadros un poco más oscuros */
  }
}